*.o
/.deps/
/aclocal.m4
/autoscan.log
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/revere-vfio-demo
/stamp-h1
Makefile
Makefile.in
autom4te.cache
